*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
background-color: black;

}
header{
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("aaa.jpg");
    background-position: center;
    background-size: cover ;
    margin: auto;
    justify-content: center;
    align-items: center;
    animation:movimiento 10s infinite linear alternate;
 
}
@keyframes movimiento{
    from{
        background-position:right bottom;
    }
    to{
        background-position:left top;
    }
}

header:before{
    background:rgba(1, 22, 32, 0.363);
    z-index: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Title{
    display: inline-flex;
    width: 30%;
    align-items: center;
    z-index: 1;
}
.Title a{
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 700;
    display:inline-block;
    font-size: 25px;
    color: #ffffff;
    
    margin: 10px;
}
.Title a:hover{
    text-shadow: rgb(0, 252, 239) 1px 0 20px;
}
.Nav{

    justify-content: space-between;
    display: flex;
    width: 100%;
    
}
.Menu{
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content:end;
    width: 70%;
    
       
}
.Menu li{
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
}
.Menu li a{
    text-decoration: none;
    list-style: none;
    color:#ffffff;
    
    display: flex;
}
.Menu li a:hover{
    text-shadow: rgb(0, 252, 239) 1px 0 20px;
}
header .Text-header{
    width: 30%;
    position: relative;
    margin:300px auto;
    justify-content: center;
    text-align: center;
}
header .Text-header p{
    color: white;
    padding: 10px;
    font-size:20px;
    position: relative;
   
}

header .Text-header a{
    position:relative;
    letter-spacing: 1px;
    color: white;
    border-bottom: solid 0.5px #000000b9;
    font-weight: 500;
    text-decoration: none;
    box-shadow: rgb(0, 0, 0) 1px 0 10px;;
    border-radius: 10px;
    padding: 10px;
    margin: 10px ;
}
header .Text-header a:hover{
    background-color:none;
    background-color: #131111af;
    transition: 0.7s;
}
.info{
    display: flex;
    position: relative;
    width: 100%;
}
.info section{
    align-items: center;
    justify-content: center;
    flex: 50;
    padding: 10px;
}
.info section h1 {
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    font-weight:700;
    text-align: center;
}
.info section p{
    color: #ffffff;
    width: 100%;
    
    
}
.info aside{
    align-items: center;
    justify-content: center;
    flex: 50;
    padding: 10px;
}
.info aside h1{
    text-transform: uppercase;
    color:  #ffffff;
    font-weight:700;
    text-align: center;
}
.info aside p{
    color: #ffffff;
    width: 100%;

}
footer{
    background-color: #ffffff;
    height: 70px;
   
}

@media all and (max-width:767px )  {
header{
    display:block;
    position: relative;
    width: 100%;
    height: 600px;
}
header .Text-header{
    width: 100%;
    margin: 130px auto;
    
}
header .Text-header p{
    font-size: 15px;
   
}
header .Text-header a{
    font-size: 14px;
    
}
.info{
    display: block;
    position: relative;
    width: 100%;
    font-size: 15px;
   
   
}
section {

    width: 100%;
    
}
aside {
    width: 100%;
   
}
footer{
    width: 100%;
  
}

}